
*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
.container{
    height: 100%;
    background-color: #1b823a;
}


.chat-screen{
    height: calc(100% - 120px);
}


.user{
    background-color: #d3e723bf;
    padding: 16px;
    height: 80px;
}
.user__column{
    float: left;
}
.user__pic{
    width: 100px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #fcf51fae
}

.user__nick, .user__count{
    margin: 5px;
}
.user__count{
    font-size: 12px;
    color: grey;
}

.chat-form{
    height: 120px;
    background-color: #ffffff;
}
.chat-form__field{
    height: 120px;
}
.chat-form__msg{
    float: left;
    width: calc(100% - 20px);
    height: 120px;
    border: none;
    resize: none;
    font-size: 24px;
    padding:10px;
}

.chat-form__bt{
    float: right;
    width: 200px;
    height: 120px;
    border-radius: 10px;
    background-color: #fcc41f;
    font-size: 18px;
}
.chat-form__msg:focus{
    outline:none;
}
.chat-form__bt:active{
    background-color: #c89012;
}